@import "../../_variables.scss";
@import "../../_mixins.scss";
.travel-page {
  min-height: 100dvh;
  background: url("img/travel-bg.jpg") no-repeat;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.travel-welcome {
  padding-top: 120px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__heading {
    @include page-heading;
  }

  &__description {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  &__left {
    max-height: 500px;
    border-radius: 150px 250px;
  }

  &__right {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 32px;
    padding: 50px;
    display: block;
    background-color: $backgroundColorDark;
    border-radius: 20px;
    color: $mainTextColor;
  }
}

.train-window {
  position: relative;
  width: 400px;
  height: 400px;
  overflow: hidden;
  border-radius: 70% 30% 30% 70%/30% 30% 70% 70%;
}

.person {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 400px;
  height: 400px;
  z-index: 1;
  border-radius: 70% 30% 30% 70%/30% 30% 70% 70%;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 230%;
  height: 60%;
  background-image: url("img/travel-windowview.png");
  background-size: cover;
  animation: moveBackground 3s linear infinite;
}

@keyframes moveBackground {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-20%);
  }
}

@media (max-width: 768px) {
  .main-welcome__heading {
    font-size: 80px;
  }

  .train-window {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 940px) {
  .travel-welcome {
    &__right {
      margin: 0;
      font-size: 16px;
    }
    &__heading {
      @include page-heading-tablet-mobile;
    }
  }
}
